<div class="song-control">
	<div class="container">
		<div class="row-fluid">
			<div class="span3">
				{{label}}
			</div>
			<div class="span4">
				<div class="btn-group">
					<button class="btn"><span class="icon icon-play"></span></button>
					<button class="btn"><span class="icon icon-pause"></span></button>
					<button class="btn"><span class="icon icon-stop"></span></button>
					<button class="btn"><span class="icon icon-fast-forward"></span></button>
					<button class="btn"><span class="icon icon-fast-backward"></span></button>
					<a href="#/song/" class="btn">Track Listing</a>
					<a href="#/song/channels/" class="btn">Channel Manager</a>
				</div>
			</div>
		</div>
	</div>
</div>
