<div class="column-container track-list">
	<div class="background">
		<div class="left"></div>
		<div class="right">
			<div track-list-background></div>
		</div>
	</div>
	<div class="foreground">
		<div class="track-row">
			<div class="column info">
				<div class="track-label">Tracks</div>
			</div>
			<div class="column parts">
				<span class="icon icon-zoom-out" data-ng-click="zoomOut()"></span>
				<span class="icon icon-zoom-in" data-ng-click="zoomIn()"></span>
			</div>
		</div>
		<div class="track-row" data-ng-repeat="track in tracks">
			<div class="column info">
				<div class="track-label">{{track.label}}</div>
			</div>
			<div class="column parts"></div>
		</div>
		<div class="track-row">
			<div class="column new-track">
				<div class="btn-group">
					<button class="btn" data-ng-click="newTrack()">New Track</button>
				</div>
			</div>
		</div>
	</div>
</div>