<div class="column-container track-list">
	<div class="background">
		<div class="left"></div>
		<div class="right">
			<div track-list-background></div>
		</div>
	</div>
	<div class="foreground">
		<div class="track-row">
			<div class="column info">
				<div class="track-label">Tracks</div>
			</div>
			<div class="column parts">
				<div class="btn-group">
					<button type="button" class="btn btn-default">Zoom {{zoom.zoom}} Bars</button>
					<button type="button" class="btn btn-default" data-ng-click="zoom.zoomOut()">
						<span class="icon icon-zoom-out"></span>
					</button>
					<button type="button" class="btn btn-default" data-ng-click="zoom.zoomIn()" >
						<span class="icon icon-zoom-in" data-ng-class="{disable: zoom.zoom<=zoom.min}"></span>
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>

					<ul class="dropdown-menu" role="menu">
						<li data-ng-repeat="preset in zoom.presets" data-ng-click="zoom.set({{preset}})"><a>{{preset}} Bars</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="track-row" data-ng-repeat="track in tracks">
			<div class="column info">
				<div class="track-label">{{track.label}}</div>
			</div>
			<div class="column parts"></div>
		</div>
		<div class="track-row">
			<div class="column new-track">
				<div class="btn-group">
					<button class="btn" data-ng-click="newTrack()">New Track</button>
				</div>
			</div>
		</div>
	</div>
</div>